@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #fff;
  margin-bottom: 250px;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.bio {
  margin-top: 20px;
  font-weight: bold;
  color: antiquewhite;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}

.bio h2 {
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.projects-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.project-card {
  width: 200px;
  height:  300px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color:#030303;
  box-shadow: 1px 1px 7px 1px #4B3883;
  text-align: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  margin-bottom: 30px;
}

.project-card img {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.project-card h3 {
  font-size: 18px;
  margin-bottom: 0;
}

h2,
h3,
p {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 30px;
}



@media screen and (max-width: 768px) {
  .project-cards {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
   
    
  }

  .project-card .about-card{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 30px;
    
  }
}
