.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
  }

  .portfolio-info {
    text-align: center;
  }

  .portfolio-info h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }

  .portfolio-info .name {
    color: #4B3883;
  }

  .portfolio-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .portfolio-info p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #666;
  }

  .portfolio-info h1 .name {
    display: inline-block;
    transform-origin: 0 50%;
    animation: flip 2s ease infinite;
  }